name: Android CI

on:
  push:
    branches: [ main ]
  pull_request:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: '17'
          cache: gradle

      - name: Set up Android SDK
        uses: android-actions/setup-android@v3

      # (Tuỳ chọn) Cài sẵn SDK/Build-tools Android 15 (API 35) để build nhanh & chắc
      - name: Install SDK components (API 35)
        run: |
          sdkmanager --install "platforms;android-35" "platform-tools" "build-tools;35.0.0"

      - name: Grant execute permission for gradlew
        run: chmod +x gradlew

      - name: Build APK debug
        run: ./gradlew --no-daemon clean assembleDebug

      - name: Upload APK debug
        uses: actions/upload-artifact@v4
        with:
          name: app-debug
          path: app/build/outputs/apk/debug/app-debug.apk

      - name: Build AAB release (unsigned)
        run: ./gradlew --no-daemon bundleRelease

      - name: Upload AAB release (unsigned)
        uses: actions/upload-artifact@v4
        with:
          name: app-release-aab-unsigned
          path: app/build/outputs/bundle/release/app-release.aab
          
